<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu" crossorigin="anonymous">
    <title>About E-Registrar</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/eregistrar/home">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    </div>
</nav>

<div class="jumbotron">
    <h1 class="display-3">About us</h1>
    <p class="lead">This is an online platform for registrering studesnts of Niyonshuti university online</p>
    <hr class="my-4">


    <p>
        This platform helps you perform the following actions
    </p>
    <p>
        1. Display List of all registered Students - presents to the user, a list of all the students who have been registered in the university.
    </p>
    <p>
        2. Register a New Student - enables the user to add a new Student into the system.
    </p>
    <p>
        3. Enables user to Edit a Student's registration data.
    </p>
    <p>
        4. Enables user to delete a student's registration data.
    </p>
    <p>
        //-- Enjoy --//
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/eregistrar/home" role="button">Back</a>
    </p>
</div>
</body>
</html>